*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #374834;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
.card{
    display: flex;
    background-color:antiquewhite;
    flex-direction: column;
    gap: 1.0rem;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20rem;
    border-style: solid;
    border-color: rgb(32, 33, 33);
    border-width: 1px;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 2px 5px 3px rgb(28, 28, 28);
}
input{
    height: 2rem;
    width: 12rem;
    background: #715229;
    border-radius: 0.1rem;
    border: none;
    display: flex;
    align-self: center;
    text-align: center;
}
input::placeholder {
    color:rgb(28, 26, 26) ;
    font-style: italic; 
    font-weight: 400;
    text-align: center;
}
button{
    margin-top: 0.5rem;
    display: flex;
    align-self:center ;
    justify-content: center;
    border-radius: 4rem;
    font-size:1.0rem;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    border: none;
    background-color: rgb(50, 139, 240);
    width:7rem ;
    height: 2rem;
    text-align: center;
    padding-top: 0.3rem;
}
.heads{
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9rem;
}
button:hover{
    background-color: rgb(36, 105, 233);
}